@model IEnumerable<FindIt.Models.empresa>

@{
    ViewBag.Title = "Home Page";
}

<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

<div class="container-fluid">

    <div class="container">
        <div class="row">
            <div class="gallery col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h1 class="gallery-title">Gallery</h1>
            </div>
            <br />

            @foreach (var item in Model)
            {
                <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter hdpe" style="text-align:center">
                    @Html.Label(item.nombre, new { @class = "GalleryImageTitle" });
                    <img src="~/Images/@item.imagen" class="img-responsive" id="gallery-image" onclick="ShowPopUp(@item.propietario)">
                    @Html.Label(item.descripcion);
                </div>
            }
        </div>

    </div>
</div>

<div class="modal fade" id="mymodal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h4 id="ModalTile"></h4>
            </div>
            <div id="PopUp" class="modal-body">
                @*<form>
                    <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter hdpe" style="text-align:center">
                        @Html.LabelFor();
                        <img src="~/Images/@item.imagen" class="img-responsive" id="gallery-image" onclick="ShowPopUp()">
                        @Html.Label(item.descripcion);
                    </div> 
                </form>*@
            </div>
        </div>
    </div>
</div>





